@import '../create-project/create-project.component.scss';
.project-header-block {
  box-shadow: 2px 2px 20px 0px #1F74BB66;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  margin-top: 15px;
  align-items: flex-start;
  h1{
    margin: 0;    
  }
  ion-img {
    margin-right: 8px;
  }
  .row-left {
    p {
      display: flex;
      margin-right: 12px;
      ion-img {
        width: 18px;
      }
    }
   
  }
}
.shift-card {
  box-shadow: 2px 2px 20px 0px rgba(31, 116, 187, 0.4);
  margin: 15px 0px;
  border-radius: 12px;
  .shift-list-card {
    border: 1px solid #ABABAB;
    border-radius: 12px;
    padding: 18px 8px;
    margin-right: 15px;
    .row-left {
      align-items: flex-start;
      ion-img {
        margin-right: 8px;
      }
      p:first-child {
       @include text-style-bold();
      }
    }    
  } 
}