// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
$primary-color: #1F74BB;
$secondry-color: #3498DB;
$side-bar-color: #122E44;
$black-color: #000000;
$text-color: #333333;
$border-color: #ABABAB;
$Subtle-Text: #707070;
$white-color: #FFFFFF;
$success-color: #28A745;
$bg-color: #f4f5f8;

:root {
  --ion-color-secondary-shade: #015796;
  --ion-color-primary: #1F74BB;
  --ion-color-secondary: #3498DB;
  --ion-color-success: #28A745;
  --ion-color-warning: #ffc409;
  --ion-color-danger: #bb4b72;
  --ion-bg-color: #E6F1FF;
  --ion-text-color: #333333;
  --ion-border-color: #ABABAB;
  --ion-subtle-text: #707070;
  --ion-white-color: #FFFFFF;
  --ion-side-bar-color: #122E44;
  --ion-bg-color-primary: #f4f5f8;
}



@mixin font-bold {
    font-weight: 600;
    letter-spacing: 0.2px;
}  
@mixin font-normal {
    font-weight: 400;
    letter-spacing: 0.2px;
} 

@mixin page-header {
    font-size: 4.60431654676259vh;   //32px
    line-height: 26px;
    @include font-bold();
}
@mixin page-header-title {
    font-size: 4.028776978417266vh;   // 28px
    line-height: 24px;
    @include font-bold();
}

@mixin card-header {
    font-size: 3.4532374100719423vh;   //24px
    line-height: 34px;
    @include font-bold();
}

@mixin card-header-title {
    font-size: 2.8776978417266186vh;   //20px
    line-height: 32px;
    @include font-bold();
}


@mixin card-sub-title {
    font-size: 2.5899280575539567vh;  //18px
    line-height: 20px;
    @include font-bold();
}
@mixin text-style-normal {
    font-size: 2.302158273381295vh;   //16px
    line-height: 20px;
    @include font-normal();
}
@mixin text-style-bold {
    font-size: 2.302158273381295vh;  //16px
    line-height: 20px;
    @include font-bold();
}
@mixin body-text {
    font-size: 1.7266187050359711vh; //12px
    line-height: 16px;    
    @include font-normal();
}

@mixin text-bold {
    @include body-text();
    @include font-bold();
}
@mixin table-text {
  font-size: 1.870503597122302vh; //13px
  line-height: 16px;    
  @include font-normal();
}

@mixin table-text-bold {
  @include table-text();
  @include font-bold();
}

@mixin normal-text {
    font-size:  2.014388489208633vh; //14px
    line-height: 19px;    
    @include font-bold();
}
@mixin normal-text-unbold {
    font-size:  2.014388489208633vh;  //14px
    line-height: 2.7338129496402876vh;     //19px
    @include font-normal();
}

@mixin small-text {
  font-size: 1.4388489208633093vh; //10px
  line-height: 14px;    
  @include font-normal();
}
@mixin small-text-bold {
  font-size: 1.4388489208633093vh; //10px
  line-height: 14px;    
  @include font-bold();
}

body{
  color: #333333;
}

@mixin scroll-style {
    /* width */
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar {
      width: 8px !important;
      height: 8px !important;
    }
    /* Track */
    &::-webkit-scrollbar-track {
      background: #fff;
      border-radius: 0px;
    }
  
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #ABABAB;
      border-radius: 31px;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
  }