ion-item {
  margin-bottom: 8px;
  --border-color: transparent;
}

.mt-20 {
  margin-top: 20px;
}

.leave-checkbox{
  ion-checkbox{
    max-width: 6%;
    margin-top: -10px;
  }
  ion-label{
    margin: 0;
  }
}

.leavetype-ipt{
   ion-input {
    padding-top: 10px !important;
    min-height: 45px;
  }
  ion-textarea{
    padding-top: 10px !important; 
  }
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  ion-title{
    margin-top: 25px;
  }
}

.leave-head{
  ion-card-header{
    padding:10px;
  }
    ion-card-title{
    font-weight: bold;
  }
}

.create-btn{
  border-radius: 20px;
  --background: transparent;
  .button-native{
    background: transparent;
  }
}

.cancel-btn{
  border-radius: 20px;
  margin-right: 20px;
  background: #fff;
  --color: #333333;
  color: #333333;
  border: 1.5px solid #333333;
  --box-shadow: none;
}
.table-header {
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  padding-bottom: 6px;
  margin-bottom: 6px;
  font-size: 16px;
}

.empty-text {
  text-align: center;
  color: #888;
  margin-top: 20px;
}
.table-list{
  padding: 15px 0px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  &:last-child {
    border-bottom: none;
  }
}
.head{
  display: flex;
  p{
    padding: 3px 7px;
    font-size: 12px;
    margin-left: 8px;
    margin-top: 15px;
    background: #CFECFF;
    border-radius: 20px;
    width: 23px;
    height: 23px;
    color: #1F74BB;
    @media(max-width:992px){
      padding: 3px 6px;
      width: 20px;
      height: 20px;
    }
  }
}

.listhead{

  h3{
    color: #181D27;
    margin-bottom: 10px;
    margin-top: 0;    
  }
  ion-card-content{
    padding:0;
  }
  ion-card-header{
    display: flex;
  }
}
.empty-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  text-align: center;

  ion-text {
    color: #56238b;
    font-size: 14px;
    font-weight: bold;
  }
}