@import '../my-team/my-team.page.scss';
ion-content {
  --background: #ffffff;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  gap: 16px;

  ion-spinner {
    width: 50px;
    height: 50px;
  }

  p {
    color: var(--ion-color-medium);
    font-size: 14px;
  }
}
