
/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';
@import 'theme/variables.scss';



html.md {
--ion-default-font: 'Open Sans';
@include normal-text-unbold();
}

html, body {
     font-family: 'Open Sans';
     @include normal-text-unbold();
}
:host {
    font-family: 'Open Sans';
    @include normal-text-unbold();
}

ion-split-pane{
    --side-min-width: 10.071942446043165vh !important;
    --side-max-width: 23.02158273381295vh !important;
}

ion-list{
    padding: 0 !important;
}
.main-content{
    ion-list-header, ion-item{
      --background: #0a1d2c !important;
    }
}
ion-list-header, ion-item{
      border: none;
      border-radius: 0 !important;
      min-height: 0;
        --padding:0px !important;
        --padding-end:0px !important;
}

  ion-item a {
      display: grid !important;
    place-content: center;
}

@media (min-width: 1200px) {
    .grid-fixed {
        width: 100vw;
    }
}
.header-collapse-condense{
 display: block !important;
}

.d-flex {
  display: flex;
}
.d-block {
    display: block !important;
}
.d-none {
    display: none !important;
}


:host(.menu-pane-visible.split-pane-side.menu-enabled) {
    display: flex;
    flex-shrink: 0;
    min-width: 150px;
}


.searchbar-input.sc-ion-searchbar-md {
    -webkit-padding-end: 1.4375rem  !important;
    padding-inline-end: 1.4375rem !important;
        padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
    --border-radius: 30px !important;
}
.page-containerOn{
        --background: var(--ion-bg-color);
}
.row-left {
   display: flex;
   align-items: center;
   justify-content: left;
   flex-direction: row;
}
.row-right {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
}
.row-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.row-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.pl-5 {
    padding-left: 5px;
}
.pl-15 {
    padding-left: 15px;
}
.pl-30 {
    padding-left: 30px;
}
.pr-5 {
    padding-right: 5px;
}
.pr-15 {
    padding-right: 15px;
}
.pr-30 {
    padding-right: 30px;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mt-30 {
    margin-top: 30px !important;
}
.mb-10{
  margin-top: 10px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}
.p-8 {
    padding: 8px;
}
.pb-8 {
    padding-bottom: 8px;
}
.m-auto {
    margin: auto !important;
}
.mt-0 {
    margin: 0 !important;
}
.mt-10{
  margin-top: 10px !important;
}
.mt-10{
  margin-top: 20px !important;
}
.mt-8 {
  margin-top: 8px !important;
}
.my-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
.mr-8 {
    margin-right: 8px !important;
  }
  .mx-30 {
    margin-left: 30px;
    margin-right: 30px;
  }
// Modal popup
ion-modal {
    --width: 800px;
    --height: calc(100vh - 60px);
    --max-height: calc(100vh - 60px);
    --border-radius: 18px;
   
    ion-content::part(scroll) {
        @include scroll-style();
    }
    &.start-preboarding-modal {
        --height: calc(100vh - 200px);
    }
    &.side-custom-popup {
        --width: 630px;
        --height: 100vh;
        --max-height: 100vh;
        --border-radius: 0;
        justify-content: right;
        &.checkinInfo-popup {
            --width: 460px;         
        }
        ion-header {
            box-shadow: none;   
            ion-title {
                @include card-header-title();
            }         
        }
        .form-continer {
          max-height: calc(100vh - 150px);
          overflow-y: auto;
          @include scroll-style();
          ion-select {
            border: 1px solid #C4C4C4;
            height: 45px;
            border-radius: 4px;
            padding: 0px 12px !important;
            margin: 11px 0px;
          }
          ion-input, ion-textarea {
            border: 1px solid #C4C4C4;
            height: auto;
            border-radius: 4px;
            padding: 0px 12px !important;
            margin: 11px 0px;
          }
          ion-label {
            transform: none !important;
          }
        }
        .form-footer {
          position: fixed;
          right: 30px;
          bottom: 9px;
          background: #fff;
        }

        //custom tabs
        ion-segment {
          border: 1.25px solid #CBD5E0;
          box-shadow: 0px 1px 3px 0px #0000001A;
          border-radius: 30px;
          justify-content: left;
          width: max-content;
          display: flex;
          list-style: none;
          padding: 5px;
          margin: 15px auto;
          --min-height: 48px;
          height: 48px;
          ion-segment-button {
          width: max-content;
          text-transform: capitalize;
          min-height: 36px;
          height: 36px;
          padding: 0px 5px;
          display: flex;
          align-items: center;         
          cursor: pointer;
          ion-label{
            margin: 0;
          }
          &.segment-button-checked {
            background: $primary-color;
            color: #fff;
            --color-checked: #fff;
            --indicator-height: 0px;
            border: 1.25px solid #EDF2F7;
            border-radius: 20px;
          box-shadow: 0px 1px 3px 0px #0000001A;
          }    
        }
      }
      &.team-popup {
        --width: 500px;        
      }
      &.timesheet-popup {
        --width: 560px;
      }
    }
}
.custom-popup {
    ion-header {
        box-shadow: none;
        ion-title {
            @include card-header();
        }
    }
    .modal-header {
        h1{
            @include card-header();
        }
        margin-bottom: 15px;
    }
  .form-block {
      padding: 0px 24px;
      ion-select {
        border: 1px solid #C4C4C4;
        height: 45px;
        border-radius: 4px;
        padding: 0px 12px !important;
        margin: 11px 0px;
        min-height: 45px;
      }
      ion-input, ion-textarea {
        border: 1px solid #C4C4C4;
        height: auto;
        border-radius: 4px;
        padding: 0px 12px !important;
        margin: 11px 0px;
        min-height: 42px;
      }
      // ion-button {
      //   --background: #122F44;
      //   height: 42px;
      //   border-radius: 6px;
      // }      
  }
}
ion-popover.select-popover {
    margin-left: 66px;
    margin-top: 12px;
    &.popover-side-bottom {
    margin-left: 0px;
    margin-top: 3px;
    }
}
.text-center {
    text-align: center;
}
.custom-button {
    padding: 3px 7px;
    border-radius: 20px;
    height: 40px;
    --box-shadow: none;
    --background: transparent;
    font-size: 13px;
    font-weight: 600;
}
.primary-btn {
    --color: #fff;
    // --background: var(--ion-color-primary);
    background: var(--ion-color-primary);
    @extend .custom-button ;
}
.primary-outline-btn {
    background: #fff;
    --color: var(--ion-color-primary);
    color: var(--ion-color-primary);
    border: 1.5px solid var(--ion-color-primary);
    @extend .custom-button ;    
}
.danger-outline-btn {
    border: 1.5px solid #E45353;
    color: #E45353;
    @extend .custom-button ;
}
.danger-btn {
    --color: #fff;
    --background: #E45353;
    @extend .custom-button ;
}
#main-content {
    --background: var(--ion-bg-color); 
}

/* Hide scrollbar in attendance log popover */
ion-popover {

 .popover-content {
    scrollbar-width: none !important; /* Firefox */
    -ms-overflow-style: none !important; /* IE and Edge */
}
}


ion-popover .popover-content::-webkit-scrollbar {
    display: none !important; /* Chrome, Safari, Opera */
    width: 0 !important;
    height: 0 !important;
}

ion-popover ion-content {
    --overflow: auto;
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
}

ion-popover ion-content::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
}

// filters block
.filters {
    display: flex;
   .filter-block {
     margin-right: 10px;
   .btn-secondry { 
     padding:12px 24px;
     background: #fff;
     border: 0.5px solid #DEDEDE;
     color: #3498db;
     box-shadow: none;
     font-weight: 600;
     margin: 0;    
     @include normal-text-unbold();
     &:first-child {
       border-bottom-left-radius: 8px;
       border-top-left-radius: 8px;
     }
     &:last-child {
       border-bottom-right-radius: 8px;
       border-top-right-radius: 8px;
     }
     &.active {
       background: #3498DB;
       color: #fff;
       font-weight: 600;
     } 
   } 
   }
 
   .outline-btns {
     .btn-secondry {
   height: 44px;
   padding: 0 10px;
   background: #fff;
   border: 0.5px solid #DEDEDE;
   color: #3498db;
   box-shadow: none;
   font-weight: 600;
   margin: 0;
   &:first-child {
     border-bottom-left-radius: 8px;
     border-top-left-radius: 8px;
   }
   &:last-child {
     border-bottom-right-radius: 8px;
     border-top-right-radius: 8px;
   }
   ion-icon {
     font-weight: 600;
     font-size: 24px;
   }
   &.active {
     background: #3498DB;
     color: #fff;
     font-weight: 600;
   } 
     }
   }
  }
  

  .profile-modal {
    --width: 625px;
    --height: 400px;
    &::part(backdrop){
        opacity: 0.35 !important;
      }
  }
  .employee-list-modal {
--width: calc(100% - 40%);
    --height: 400px;
    justify-content: left;
    padding-left: 264px;
    align-items: baseline;
    padding-top: 65px;
    &::part(backdrop){
        opacity: 0 !important;
      }
  }
  ion-modal {
    &.big-modal {
        justify-content: right !important;
        --max-height: 100vh;
        --height: 100vh;
        --border-radius: 0;
        --width: 650px;
    }
    &.date-modal {
    --width: auto;
    --height: fit-content; 
    --backdrop-opacity: 0.35 !important;
    }
}

.view-work-log {
.date-strip {
    padding: 12px 33px;
    font-size: 13px;
    color: #374151;
    background: #f3f4f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
  }
  
  .work-log-content {
    --background: #f9fafb;
    padding: 16px;
  }
  
  /* Timeline Layout */
  .timeline {
    display: flex;
    flex-direction: column;
  }
  
  .log-item {
    display: flex;
    gap: 16px;
  }
  
  /* Timeline Column */
  .timeline-col {
    width: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    .dot {
        width: 8px;
        height: 8px;
        background: #2563eb;
        border-radius: 50%;
        position: relative;
        top: 20%;
        z-index: 9;
      }
      
      .line {
        width: 1px;
        flex: 1;
        background: #e5e7eb;
        height: 100vh;
        position: absolute;
        min-height: 100vh;
      }
  }
  
 
  
  /* Card */
  .log-card {
    flex: 1;
    background: #ffffff;
    border-radius: 12px;
    padding: 16px;
    border: 1px solid #e5e7eb;
    margin-bottom: 12px;
  }
  
  /* Card Header */
  .log-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
  }
  
  .time {
    font-size: 13px;
    color: #6b7280;
  }
  
  .badge {
    background: #2563eb;
    color: #ffffff;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 999px;
  }
  
  /* Content */
  .title {
    font-size: 14px;
    font-weight: 600;
    color: #111827;
    margin-bottom: 4px;
  }
  
  .desc {
    font-size: 13px;
    color: #4b5563;
    line-height: 18px;
  }
  .note-block {
      padding: 12px 24px;
      label {
          font-weight: 600;
      }
  }
  
  /* Mobile */
  @media (max-width: 480px) {
    .log-item {
      gap: 12px;
    }
  
    .log-card {
      padding: 14px;
    }
  }
}

//custom-table
.table-block {
  border: 0.5px solid #ABABAB;
  border-radius: 8px;
  padding: 0;
  ion-col {
    // padding-left: 8px;
    padding-left: 20px;
  }
  .table-header {
    height: 44px;
    border-bottom: 0.5px solid #ABABAB;
    align-items: center;
    ion-col {
      @include table-text-bold();
      p {
        @include table-text-bold();
      }
    }
  }
  .table-row-list {
    height: auto;
    min-height: 44px;
    border-bottom: 0.5px solid #ABABAB;
    @include table-text();
    align-items: center;
    &:nth-child(odd) {
      background: #f4f6ff;
    }
    &:last-child {
      border-bottom: 0;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}

p.page-header{
  margin: 0;
  a {
    cursor: pointer;
    color: #00000073;
     margin-right: 5px;
  }
}

ion-chip {
  padding: 0px 18px;
    border-radius: 20px;
    height: 26px;
    margin: 0;
    line-height: 26px;
    margin-left: 30px;
  &.success {
    background: rgba(19, 159, 65, 0.168627451);
    color: #1FAD4E;    
  }
}
p.empty-text{
  width: 100% !important;
  height: auto !important;
}

.empty-data {
  text-align: center;
  margin: auto;
  @include normal-text();
  color: $Subtle-Text;
  ion-img {
    width: 40%;
    margin: auto;
  }
}
.no-leaves-img{
  p{
    color: #707070;
    font-weight: bold;
    font-size: 12px;
  }
    display: flex;
    justify-content: center;
    img{
        max-width: 11%;
    }
}
.no-leaves {
 padding-top: 30px;
   p {
     width: 70%;
     margin: auto;
   }
}

ion-select::part(icon){
  transform: scale(1.5) !important;
}
ion-select::part(container){
width: 100vh;
}
//status labels
ion-badge {
  border-radius: 20px;
  padding: 6px 12px;
 &.pending, &.ion-color-pending {
 color: #A95300;
 background: #FFE9D2;     
 }
 &.accept, &.ion-color-accept {
   background: #D1FAE5;
   color: #059669;
 }
 &.reject, &.ion-color-reject {
   background: #FFD8D8;
  color: #C80000;
 }
}

.alert-wrapper {
  min-width:300px !important;
  textarea {
    border: 1px solid #ABABAB !important;
    border-radius: 8px;
    padding: 8px !important;
    min-height: 100px !important;
  }
  .alert-message {
   padding-bottom: 0 !important;
  }
  .alert-button.sc-ion-alert-md.alert-button-role-cancel {
    @extend .primary-outline-btn;
    padding: 3px 14px;
  }
  .alert-button.sc-ion-alert-md {
    @extend .primary-btn;
    padding: 3px 14px;
    @include text-bold();
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

.text-wrap {
  p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
  } 
}