@import './../../global.scss';

.main-block {
  p {
    color: $text-color;
    --color: var(--ion-text-color);
  }
  
  ion-card {
    margin: 0;
  }
.welcome-block {  
  ion-card {
    background: url("../../assets/home-icons/Blue\ -\ Noise\ Backgrounds\ 29.svg") no-repeat;
    background-size: cover;
    border-radius: 10px;
    .profile-img {
      width: 100px;
      height: 100px;
      margin-right: 12px;
      &::part(image) {
        border-radius: 50%;
        margin-top: 15px;
      }
    }
    p {
      margin: 15px 0px;
    }
    .greeting {
      @include text-style-normal();
      color: #D5D3CE;
    }
    .name {
      @include card-header();
      color: #D5D3CE;
    }
    .date {
      span {
        @include card-sub-title();
        font-weight: 400;
        color: #DA8F67;
        &:last-child {
          color: #D5D3CE;
        }
      }
    }
    ion-button {
      --box-shadow: 7px 18px 5px 0px #00000000;
      --color: #1A2B3C;
       --background: #ffffff;
       height: 36px;
    --border-radius: 76px;
    --padding-end: 15px;
    margin-right: 8px;
    ion-img {
      padding: 0;
    margin-right: 7px;
    margin-left: 7px;
    width: 15px;
    }
    }
   
    .time-block {
      text-align: center;
      margin: auto;
      p {
        color: #0B1532;        
      }
       .clock {
        @include card-header-title();
       }
       .time {
        @include page-header();
       }
    }


  }
 
}
//Today Overview card
.overview-block {
  padding: 16px;
  border: 1px solid #ABABAB;
  margin-bottom: 12px;
  .border-bottom {
    border-bottom: 1px solid #E0E0E0
  }
  .card-header {
    @include card-sub-title();
    margin: 0;
    margin-bottom: 8px;
    color: $text-color;
  }
  .card-dec {
    @include normal-text-unbold();
    color: #707070;
    margin: 0;
    margin-bottom: 8px;
  }
  .label {
    background: #E8EBF2;
    color: #1A2B3C;
    padding: 8px 12px;
    border-radius: 15px;
    width: fit-content;
    p {
      margin: 0;
    }
  }

  .card-content {
    .leave-img {
      width: 60px;
      margin: auto;
    }
    .label-test {
      @include normal-text-unbold();
      color: #707070;
    }
    .time {
      @include normal-text();
      color: $text-color;
    }
    .status {
      background: #3182CE2E;
      color: #166FC3;
      padding: 3px 15px;
      border-radius: 33px;
    }
    .time-block {
      background: #EFF0F4;
      padding: 16px;
      @extend .row-space-between;
      margin: 15px;
      border-radius: 6px;
      p {
        margin: 0;
      }
      ion-icon {
        color: $success-color;
        font-size: 21px;
      }
      div {
        p {
          color: $text-color;
          &:last-child {
            @include text-style-bold();
            margin-top: 5px;
          }
        }      
      }     
    }
    .note {
      @include body-text ();
    }
    .text, .number {
      @include text-style-bold();
      color: $text-color;
    }
    small {
      color: #707070;
      font-weight: 500;
    }
    .number {
     color: #1870B9;
     font-weight: 700;     
    }
    &.leave-block {
      ion-row{ 
        flex-wrap: wrap;
        justify-content: left;
        margin-top: 12px;
        ion-col {     
          min-width: max-content;
          max-width: fit-content;     
          .card-box {
            width: max-content;
            padding: 16px 18px;
            background: #DEF0FA;
            border-radius: 10px;
            p:first-child {
              display: flex;
              align-items: center;
              font-weight: 600;
              margin: 0 !important;
            }
            p {
              @include normal-text-unbold();
              margin: 0;
              margin-top: 8px;
            }
          }
        }
      }
 
  }
  }
  
  // Holidays section style
  .holidays-section {
    height: 245px;
    background-size: 100%;
    background-position: center center;
    width: 80%;
    border-radius: 10px;
    background-repeat: no-repeat;
    padding: 24px;
    margin-top: 15px;
      .section-title, .card-main-header {
        color: #fff;      
      }
     
      p{
      @include text-style-normal();
      color: #fff;
    }
  }

  .Announcement-card {  
    border: 1px solid #ABABAB80;
    display: flex;
    align-items: flex-start;
    padding: 16px 8px;
    border-radius: 8px;
    margin-top: 12px;
    img {
      margin-right: 8px;
    }
    p.title {
      @include text-style-bold();
      margin-top: 0;
      
    }
    p:nth-child(2) {
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 46%;
      overflow: hidden;
    }
    p {
      margin: 8px 0;
      @include normal-text-unbold();     
    }
    .row-right {
      position: absolute;
      right: 34px;
      bottom: 22px;
    }
    .comments-block {
      img {
        border-radius: 50%;
      }
    }
  }
  .birthday-card {
    background: #E4EEFA;
    border-radius: 10px;
    background: #E4EEFA;
    border-radius: 10px;
    margin-top: 12px;
    @extend .row-space-between;    
    position: relative;
    overflow: hidden;
    padding: 16px;
    .img-block {
      width: 70px;
        &::before {
          content: '';
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background: #1870B9;
          position: absolute;
          left: -41px;
          top: -12px;
        }
        img {
          z-index: 2;
          position: relative;
          left: 23px;
          border-radius: 50%;
        }       
    }
    p {
      margin: 0;
      @include normal-text-unbold();
      &:first-child {
        font-weight: 600;
      }
    }
    ion-button {
      --background: #1E73BB;
      --border-radius: 60px;
      font-size: 12px;
    }
  }
}

}


//Media queries below 768px screen
@media screen and (max-width: 768px) {
  .Announcement-card {
  display: block !important;
  p {
    white-space: normal !important;
    overflow: auto !important;
    width: auto !important;
  }
  }
}

