@import '../../../global.scss';

.profile-container {
  margin-bottom: 24px;
  .profile-avatar {
    .user-icon {
      font-size: 110px;
      fill: var(--ion-color-secondary);
      background: #3498db91;
      border-radius: 50%;
      display: block;
      width: 110px;
      height: 110px;
     }
     width: 110px;
     height: 110px;
  }
  .close-outline {
    font-size: 35px;
    position: absolute;
    top: -59px;
    right: 0;
  }
  .profile-info {
    .name {
     @include card-header();
    }
    .job-title {
      @include card-sub-title();
      font-weight: 400;
      margin-top: 15px;
    }
    ion-icon {
      fill: #7E7E7E;
      margin-right: 8px;
    }
    .title {
     @include normal-text-unbold();  
     margin: 0;   
     color: #1A2B3C;
     margin-right: 12px;
    }
  }
}

.initials-avatar {
  /* Set a large size for the modal profile */
  width: 110px;
  height: 110px;
  margin-bottom: 15px;
  
  /* Use CSS variable for background color from TS */
  --background: var(--ion-color-primary, #3880ff);

  span {
    background-color: var(--background);
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
    font-size: 32px; /* Large font for initials */
    font-weight: 600;
  }
}
.initials-avatar {
  /* Set a large size for the modal profile */
  width: 110px;
  height: 110px;
  margin-bottom: 15px;
  
  /* Use CSS variable for background color from TS */
  --background: var(--ion-color-primary, #3880ff);

  span {
    background-color: var(--background);
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
    font-size: 32px; /* Large font for initials */
    font-weight: 600;
  }
}





.org-details {
  border: 1.25px solid #E4E4E7;
  border-radius: 12px;
  padding: 24px;
   
}
