<ion-content class="ion-padding">

  <!-- Avatar with status dot -->
  <div class="profile-container">
    <ion-row class="row-space-between">
      <ion-col size="10" class="row-left">
        <ion-avatar class="profile-avatar mr-15">
          <ion-avatar class="initials-avatar" [style.--background]="getAvatarColor(selectedObeject.full_name || '')">
            <span>{{ getInitials(selectedObeject.full_name || '') }}</span>
          </ion-avatar>
        </ion-avatar>
        <!-- Name + Job Title -->
        <div class="profile-info">
          <h2 class="name">{{ selectedObeject.full_name }}</h2>
          <p class="job-title">{{ selectedObeject.job_title}}</p>
          <div class="row-left">
            <div class="row-left">
              <ion-icon name="location"></ion-icon>
              <p class="title">{{ selectedObeject.location}}</p>
            </div>
            <div class="row-left">
              <ion-icon name="mail"></ion-icon>
              <p class="title">{{ selectedObeject.work_email}}</p>
            </div>
          </div>
          <!-- Active Status -->
          <div class="employee-status" style="margin-top: 8px; display: flex; align-items: center;">
            <span class="status-dot"
              [ngStyle]="{ 'background': selectedObeject.active_status === 'in' ? '#4caf50' : '#f44336' }"
              style="display:inline-block;width:12px;height:12px;border-radius:50%;margin-right:8px;"></span>
            <span style="font-weight: 500;">
              {{ selectedObeject.active_status === 'in' ? 'In' : 'Out' }}
            </span>
          </div>
        </div>
      </ion-col>
      <ion-col size="2">
        <ion-icon class="close-outline" name="close-outline" (click)="close()"></ion-icon>
      </ion-col>
    </ion-row>

  </div>



  <!-- Contact & Job Details -->
  <div class="org-details">
    <h2>Organizational Detailssss </h2>
    <ion-row>
      <ion-col>
        <label>Business Unit</label>
        <p>{{ selectedObeject.business_unit }}</p>
      </ion-col>
      <ion-col>
        <label>Department</label>
        <p>{{ selectedObeject.department }}</p>
      </ion-col>
    </ion-row>
    <div>
      <label>Reporting Manager</label>
      <div>
        <p>{{ selectedObeject.reporting_to }}</p>
      </div>
    </div>
  </div>

</ion-content>